@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

div {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 45px;
    color: black;
    cursor: pointer;

    transition: color 0.1s linear;
}

div:hover {
    color: #ff0000;
}
